.main {
    width: 100%;
    position: relative;
    padding-bottom: 50px;
}

.top-bar {
    width: 100%;
    position: absolute;
    top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 0 10px;
    
    .search {
        flex: 1;
        display: flex;
        height: 34px;
        margin: 0 10px;
        padding: 5px 5px 5px 8px;
        border-radius: 3px;
        background-color: #fff;
        align-items: center;

        .location {
            span {
                font-size: 15px;
            }
            .icon-arrow {
                margin-left: 2px;
                font-size: 12px;
                color: #7f7f80;
            }
        }

        .form {
            border-left: solid 1px #e5e5e5;
            margin-left: 12px;
            
            .icon-seach {
                padding: 0 2px 0 12px;
                color: #9c9fa1;
                font-size: 15px;
            }

            span {
                padding-left: 4px;
                font-size: 15px;
                color: #9c9fa1;
                line-height: 20px;
            }
        }
    }

    .icon-map {
        font-size: 25px;
        color: #fff;
    }
}

.link {
    display: inline-block;
    width: 100%;
    height: 212px;
}

.link-img {
    width: 100%;
    vertical-align: top;
    height: inherit;
}

.nav-bar {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    .nav-bar-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 48px;
        }
        h2 {
            margin: 7px 0 0 0;
            font-size: 13px;
            font-weight: normal;
        }
    }
}

.groups {
    background: #f6f5f6;
    overflow: hidden;
    padding: 0 10px;

    .title {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        padding: 0 5px;

        .more {
            color: #787d82;
            font-size: 14px;
            font-weight: normal;
        }
    }
}

.grid {
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;

    .g-item {
        width: 48.5%;
        display: flex;
        background-color: #fff;
        // margin: 0 5px 10px 5px;
        margin-bottom: 10px;
        justify-content: space-between;
        padding: 15px 10px 20px 10px;

        .g-title {
            display: flex;
            flex-direction: column;

            p {
                font-weight: bold;
                font-size: 13px;
                margin-bottom: 5px;
                margin-top: 7px;
            }

            span {
                color: #787d82;
                font-size: 12px;
                font-weight: normal;
            }
        }

        img {
            width: 60px;
            height: 60px;
        }
    }
}

.news {

    h3 {
        padding: 0 15px;
        font-size: 15px;
        margin-bottom: 0;
    }

    .n-item {
        display: flex;
        flex-direction: row;
        margin: 0px 25px;
        border-bottom: #e7eaee 1px solid;
        padding: 20px 0;

        .item-left {
            img {
                width: 140px;
            }
        }

        .item-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .r-title {
                margin: 0;
            }

            .r-bottom {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 15px 5px;

                span {
                    color: #787d82;
                    font-size: 12px;
                    font-weight: normal;
                }
            }
        }
    }
}
