html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Microsoft YaHei';
  color: #333;
  background-color: #fff;
}

#root, .app {
  height: 100%;
}

ul {
  margin: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}
